html,body {
        background: url("../static/background.jpg") 
        background-size: cover;
        display: flex;
        align-items: flex-start; 
        justify-content: flex-start;  
        height: 100vh;
        padding-top: 150px; 
        padding-left: 50px;  
        margin: 0;
      
}
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3); 
    z-index: -1; 
}
.container {
    width: 300px;  
    padding: 15px;
    background: rgba(249, 139, 50, 0.97); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    text-align: center;
    position: fixed;
    left: 390px;
    top: 55%;
    transform: translateY(-50%); 
}
h2 {
    color: #333;
}
label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}
input {
    width: 80%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px rgb(250, 230, 230);
    border-radius: 5px;
}
button {
    background-color: #28a745;
    color: rgb(254, 240, 240);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #218838;
}
h3 {
    color: rgb(6, 19, 6);
}
h1{
    color: rgb(236, 185, 54);
    font-size:40px ;
    font-family: 'Arial Narrow Bold', sans-serif ;
}
header {
    width: 100%;
    height: 100px;  
    background-color: rgb(25, 25, 175);
    color: white;
    text-align: center;
    line-height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000; 
}
